<%= render "errors", object: form.object %>

  Name: <%= form.text_field :name %> <br />
  Description: <%= form.text_area :description %> <br />
  Url: <%= form.text_field :url %> <br />

<div>
  <%= form.collection_check_boxes :group_ids, current_user.groups, :id, :name %>
</div>
